.hero {
  height: 100dvh;
}

.toggle{
  width: 100%;
  margin: 0 auto;
}

.heroImage {

    background-image: url('/heroImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50dvh;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3vh;

}

.title{
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: -0.4vw;
  line-height: 100%;
  text-align: center;
}

.heroSubtitle{
  font-size: 6vw;
  text-align: center;
  line-height: 120%;

}

.bottomBtnsWrapper{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: center;
}

