.caroSection {
    width: 90%;
    margin: 4vh auto;
}

.personsCarousell {
    margin: 4vh 0;
}

.slide {
    text-align: center;
}

.image {
    border-radius: 50px;
}

.nameIconWrapper{
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.name {
    font-weight: 800;
    font-size: 2vh;
    letter-spacing: -0.05vh;
}

.desc {
    font-size: 1.7vh;
}

