.starRating {
  display: inline-flex;
  gap: 2px;
  font-size: 24px;
  color: #ccc;
}

.star {
  color: #ccc;
}

.star.full {
  color: #FDD264;
}

.star.half {
  background: linear-gradient(to right, gold 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star.empty {
  color: #ccc;
}
